SECRET_KEY=tgc-logistica-secret-2024

DATABASE_URL=sqlite:///instance/database.sqlite

UPLOAD_FOLDER=C:\TGC_APP_LOGISTICA\uploads\
EXPORT_FOLDER=C:\TGC_APP_LOGISTICA\exports\
REMISIONES_FOLDER=C:\TGC_APP_LOGISTICA\remisiones\
BACKUP_FOLDER=C:\TGC_APP_LOGISTICA\backups\
LOG_FOLDER=C:\TGC_APP_LOGISTICA\logs\

SMTP_HOST=smtp.zoho.com
SMTP_PORT=587
SMTP_USER=tu_correo@tudominio.com
SMTP_PASSWORD=tu_contraseña
MAIL_FROM=tu_correo@tudominio.com

SIMPLIROUTE_TOKEN=
ALAS_API_URL=
ALAS_API_KEY=
PIBOX_API_KEY=

WHATSAPP_MODE=WEB_LINK
